.header-cat-desc {
    padding: 2em 3em 0em 3em;
    margin-bottom: 2em;

}
.in-cat-project-page article{
    min-height: 250px;
}
.in-cat-project-page img {
    float: left;
}
.in-cat-project-page h2 {
    padding: 0!important;
}
.project-content {
    margin-left: 27%;
    margin-right: 20px;

}
.header-cat-desc h2 {
    text-align: center;
}

.box {
    width: 250px;
    margin: 10px auto;
    background: #fff;
    border: 1px solid #d1d1d1;
    padding: 4px;
    font-family: Georgia, Helvetica, sans-serif;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-box-shadow: 0px 0px 10px #ddd;
    -webkit-box-shadow: 0px 0px 10px #ddd;
}

h3 {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    background: -moz-linear-gradient(center top, #efefef 0%, #e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efefef), color-stop(1, #e0e0e0));
    border: 1px solid #d1d1d1;
    color: black;
    font-size: 13px;
    font-weight: normal;
    text-shadow: 1px 1px 0px #fff;
    margin: 0;
    padding: 0!important;
}

h3 span {
    float: right;
    cursor: pointer;
}

h3 span:hover {
    text-shadow: 0px 0px 3px #a1eeff;
}

ul {
    padding: 5px;
    overflow: hidden;
    margin: 0;
}

ul li {

    color: black;
    padding: 5px;
}

.wppwp-paginations {
    display: block;
    padding-top: 2em;
    padding-bottom: 3em;
    font-size: 1.2em;
}